package ${package}.controller.${controller};

import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;
import com.github.pagehelper.PageInfo;
import ${package}.common.base.BaseController;
import ${package}.common.domain.AjaxResult;
import ${package}.${moduleName}.auto.${className};
import ${package}.${moduleName}.custom.TableSplitResult;
import ${package}.${moduleName}.custom.Tablepar;
import ${package}.${moduleName}.custom.TitleVo;
import ${package}.service.${className}Service;
import io.swagger.annotations.Api;

@Controller
@RequestMapping("${className}Controller")
@Api(value = "${comments}")
public class ${className}Controller extends BaseController{
	
	private String prefix = "admin/${classname}";
	@Autowired
	private ${className}Service ${classname}Service;
	
	@GetMapping("view")
	@RequiresPermissions("gen:${classname}:view")
    public String view(Model model)
    {	
		String str="${comments}";
		setTitle(model, new TitleVo("列表", str+"管理", true,"欢迎进入"+str+"页面", true, false));
        return prefix + "/list";
    }
	
	
	@PostMapping("list")
	@RequiresPermissions("gen:${classname}:list")
	@ResponseBody
	public Object list(Tablepar tablepar,String searchTxt){
		PageInfo<${className}> page=${classname}Service.list(tablepar,searchTxt) ; 
		TableSplitResult<${className}> result=new TableSplitResult<${className}>(page.getPageNum(), page.getTotal(), page.getList()); 
		return  result;
	}
	
	/**
     * 新增
     */
    @GetMapping("/add")
    public String add(ModelMap modelMap)
    {
        return prefix + "/add";
    }
	
	
	@PostMapping("add")
	@RequiresPermissions("gen:${classname}:add")
	@ResponseBody
	public AjaxResult add(${className} ${classname},Model model){
		int b=${classname}Service.insertSelective(${classname});
		if(b>0){
			return success();
		}else{
			return error();
		}
	}
	
	/**
	 * 删除用户
	 * @param ids
	 * @return
	 */
	@PostMapping("remove")
	@RequiresPermissions("gen:${classname}:remove")
	@ResponseBody
	public AjaxResult remove(String ids){
		int b=${classname}Service.deleteByPrimaryKey(ids);
		if(b>0){
			return success();
		}else{
			return error();
		}
	}
	
	/**
	 * 检查用户
	 * @param tsysUser
	 * @return
	 */
	@PostMapping("checkNameUnique")
	@ResponseBody
	public int checkNameUnique(${className} ${classname}){
		int b=${classname}Service.checkNameUnique(${classname});
		if(b>0){
			return 1;
		}else{
			return 0;
		}
	}
	
	
	/**
	 * 修改跳转
	 * @param id
	 * @param mmap
	 * @return
	 */
	@GetMapping("/edit/{id}")
    public String edit(@PathVariable("id") String id, ModelMap mmap)
    {
        mmap.put("${className}", ${classname}Service.selectByPrimaryKey(id));

        return prefix + "/edit";
    }
	
	/**
     * 修改保存
     */
    @RequiresPermissions("gen:${classname}:edit")
    @PostMapping("/edit")
    @ResponseBody
    public AjaxResult editSave(${className} record)
    {
        return toAjax(${classname}Service.updateByPrimaryKeySelective(record));
    }

    
    

	
}
