/wysihtml5x/
/x-editable/
/typeahead.js/
/switchery/
/owl.carousel/
/pdfmake/
/select2/
/summernote/
/sweetalert/
/bootstrap/
/bootstrap3-wysihtml5-bower/
/chartist/
/cropperjs/
/dropzone/
/echarts/
/eonasdan-bootstrap-datetimepicker/
/filament-tablesaw/
/fullcalendar/
/jasny-bootstrap/
/jquery/
/jsgrid/
/jszip/
/mjolnic-bootstrap-colorpicker/
/bootstrap-select/
/bootstrap-switch/
/bootstrap-table/
/bootstrap-tagsinput/
/bootstrap-touchspin/
/bootstrap-treeview/
/bootstrap-validator/
