<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('定时任务日志列表')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="searchText" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="sysQuartzJobLog-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="sysQuartzJobLog-table" lay-filter="sysQuartzJobLog-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="role-toolbar">
    <button shiro:hasPermission="gen:sysQuartzJobLog:remove" class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="sysQuartzJobLog-bar">

    <button shiro:hasPermission="gen:sysQuartzJobLog:list" class="pear-btn pear-btn-primary pear-btn-sm" lay-event="detail" title="查看"><i class="layui-icon layui-icon-search"></i>
    </button>

    <button shiro:hasPermission="gen:sysQuartzJobLog:remove" class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove" title="删除"><i class="layui-icon layui-icon-delete"></i>
    </button>

</script>



<script type="text/html" id="sysQuartzJobLog-status">
    {{#if (d.status == 0) { }}
    <span class="layui-badge layui-bg-blue">正常</span>
    {{# }else if(d.status == 1){ }}
    <span class="layui-badge">失败</span>
    {{# } }}
</script>


<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;

        let MODULE_PATH = rootPath+"/SysQuartzJobLogController";
        let cols = [
            [
                {type: 'checkbox'},
                {title: 'ID', field: 'id', align: 'center'},
                {title: '任务名称', field: 'jobName', align: 'left'},
                {title: '任务组名', field: 'jobGroup', align: 'left'},
                {title: '调用目标字符串', field: 'invokeTarget', align: 'left'},
                {title: '日志信息', field: 'jobMessage', align: 'left'},
                {title: '执行状态', field: 'status', align: 'center',toolbar: '#sysQuartzJobLog-status'},
                {title: '开始时间', field: 'startTime', align: 'left'},
                {title: '结束时间', field: 'endTime', align: 'left'},
                {title: '操作', toolbar: '#sysQuartzJobLog-bar', align: 'center'}
            ]
        ]

        //table表单列表
        table.render({
            elem: '#sysQuartzJobLog-table',
            url: MODULE_PATH + '/list',
            page: true,
            method: 'get',
            cols: cols,
            skin: 'line',
            toolbar: '#role-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        //table图标事件绑定
        table.on('tool(sysQuartzJobLog-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'detail') {
                window.detail(obj);
            }
        });

        //table工具栏绑定
        table.on('toolbar(sysQuartzJobLog-table)', function (obj) {
            if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        //查询按钮绑定
        form.on('submit(sysQuartzJobLog-query)', function (data) {
            table.reload('sysQuartzJobLog-table', {where: data.field})
            return false;
        });


        //查看详情
        window.detail = function (obj) {
            layer.open({
                type: 2,
                title: '查看详情',
                shade: 0.1,
                area: ['800px', '500px'],
                content: MODULE_PATH + '/detail/' + obj.data['id']
            });
        }

        //删除
        window.remove = function (obj) {
            layer.confirm('确定要删除该定时任务日志', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/remove?ids=" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        //批量删除
        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {icon: 3, time: 1000});
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].id + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些定时任务日志', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/remove?ids=" + ids,
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('sysQuartzJobLog-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }
        //刷新按钮
        window.refresh = function () {
            table.reload('sysQuartzJobLog-table');
        }
    })
</script>
</html>