<html xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="leftMenu">
	<!-- 左边菜单 -->
	<div id="skin-select">
		<!-- PC端 LOGO -->
	    <div id="logo">
	     <h1>Springboot<span>v2</span></h1>
	    </div>
	<!--END PC端 LOGO -->
	
	<!--点击隐藏左边菜单栏按钮 -->
	    <a id="toggle">
	        <span class="entypo-menu"></span>
	    </a>
	    <!--END点击隐藏左边菜单栏按钮 -->
	    <!-- PC端搜索按钮 -->
	    <div class="dark">
	        <form action="#">
	            <span>
					<input type="text" name="search" value="" class="search rounded id_search" placeholder="菜单搜索" autofocus />
	            </span>
	        </form>
	    </div>
	<!-- 手机端搜索按钮  有bug-->
	    <div class="search-hover">
	        <form id="demo-2">
	            <input type="search" placeholder="Search4 Menu..." class="id_search">
	        </form>
	    </div>
	
	
	
	<!-- 左侧菜单栏 -->
	    <div class="skin-part">
	        <div id="tree-wrap">
	            <div class="side-bar" th:each="muen,muenStat:${session.bootstrapTree.nodes}">
	                <ul class="topnav menu-left-nest">
	                    <li>
	                        <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
	
	                            <span  th:text="${muen.text}"></span>
	                            <i data-toggle="tooltip" th:classappend="${muen.icon}" class="pull-right config-wrap"></i>
	
	                        </a>
	                    </li>
	                     
	                  <!-- <th:block th:each="user:${list}"> -->  
	                    <li th:each="caidan,caidanStat:${muen.nodes}">
	                    	
	                    
	                 		<a th:if="${caidan.isBlank==0}"  class="tooltip-tip" th:href="@{${caidan.url}}" target="mainFrame" th:title="${caidan.text}">
	                            <i th:classappend="${caidan.icon}" class=""></i>
								<span th:text="${caidan.text}">用户管理</span>
	                 		</a>
	                 		<a th:if="${caidan.isBlank==1}"  class="tooltip-tip" th:href="@{${caidan.url}}" target="_blank" th:title="${caidan.text}">
	                            <i th:classappend="${caidan.icon}" class=""></i>
								<span th:text="${caidan.text}">用户管理</span>
	                 		</a>
	                 		
	                 		
	                 		<!-- <th:bolck th:if=${caidan.nodes!=null}> -->  
	                 		 	<ul>
		                    		<li th:each="caidan1,caidanStat1:${caidan.nodes}">
		                    			
		                    			<a th:if="${caidan1.isBlank==0}"  class="tooltip-tip" th:href="@{${caidan1.url}}" target="mainFrame" th:title="${caidan1.text}">
				                            <i th:classappend="${caidan1.icon}" class=""></i>
											<span th:text="${caidan1.text}">用户管理</span>
				                 		</a>
				                 		<a th:if="${caidan1.isBlank==1}"  class="tooltip-tip" th:href="@{${caidan1.url}}" target="_blank" th:title="${caidan1.text}">
				                            <i th:classappend="${caidan1.icon}" class=""></i>
											<span th:text="${caidan1.text}">用户管理</span>
				                 		</a>
		                    			
		                 		 	</li>
	                 		 	</ul>
	                   		<!-- </th:bolck> -->  
	                 		
	                 		
	                 		
	                    </li>
	                    <!-- </th:bolck> -->  
	                    
	
						
	                </ul>
	            </div>
	        </div>
	    </div>
	    <!-- 左侧菜单栏 -->
	</div>
	<!-- 结束左边菜单栏 -->

</div>
