<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('${tableInfo.tableComment}新增')"/>
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
#set($isdate = false)
#foreach ($column in $beanColumns)
#if(${column.column_key} != 'PRI')

#if(${column.beanType} != "java.util.Date")
				<div class="layui-form-item">
                    <label class="layui-form-label">${column.column_comment}</label>
                    <div class="layui-input-block">
                        <input type="text" name="${column.beanName}" autocomplete="off" placeholder="${column.column_comment}" class="layui-input">
                    </div>
                </div>
#else
#set($isdate =true)
				<div class="layui-form-item">
                    <label class="layui-form-label">${column.column_comment}</label>
                    <div class="layui-input-block">
                        <input type="text" name="${column.beanName}" autocomplete="off" placeholder="${column.column_comment}" class="layui-input datetime-input">
                    </div>
                </div>
#end

#end
#end
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="${tableInfo.javaTableName_a}-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form','laydate','jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MODULE_PATH = rootPath+"/${tableInfo.javaTableName}Controller";
#if($isdate==true)
		var laydate = layui.laydate;
        //同时绑定多个
        lay('.datetime-input').each(function(){
          laydate.render({
            elem: this
            ,trigger: 'click'
            ,type: 'datetime'
          });
        });
#end
        //保存
        form.on('submit(${tableInfo.javaTableName_a}-save)', function (data) {
            $.ajax({
                url: MODULE_PATH+'/add',
                data: data.field,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                type: 'post',
                success: function (result) {
                    if (result.code==200) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("${tableInfo.javaTableName_a}-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
</body>
</html>