<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('${tableInfo.tableComment}列表')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="searchText" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="${tableInfo.javaTableName_a}-query">
                    <i class="layui-icon layui-icon-search"></i>
                   	 查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
					重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="${tableInfo.javaTableName_a}-table" lay-filter="${tableInfo.javaTableName_a}-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="${tableInfo.javaTableName_a}-toolbar">
    <button shiro:hasPermission="gen:${tableInfo.javaTableName_a}:add" class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
		 新增
    </button>
    <button shiro:hasPermission="gen:${tableInfo.javaTableName_a}:remove" class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
		删除
    </button>
</script>

<script type="text/html" id="${tableInfo.javaTableName_a}-bar">
    <button shiro:hasPermission="gen:${tableInfo.javaTableName_a}:edit" class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit" title="修改"><i class="layui-icon layui-icon-edit"></i>
    </button>

    <button shiro:hasPermission="gen:${tableInfo.javaTableName_a}:remove" class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove" title="删除"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>


#set($isdate = false)
#set($isupload = false)
#foreach ($column in $beanColumns)
	#if(${column.column_key} != 'PRI')
		#if(${column.htmlType} == 2)

<script type="text/html" id="${column.beanName}-type">
	
#foreach ($dictData in $column.autoDictType.dictDatas)

	{{\#if (d.${column.beanName} == ${dictData.dictValue}) { }}
    <span class="layui-badge layui-bg-${dictData.listClass}-blue">${dictData.dictLabel}</span>
#end
    {{# } }}
</script>
		#elseif(${column.htmlType} == 3)

<script type="text/html" id="${column.beanName}-enable">
    <input type="checkbox" name="${column.beanName}" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="${column.beanName}-enable" {{d.${column.beanName}== 1 ? 'checked' : '' }} >
</script>
		#elseif(${column.htmlType} == 5)
			#set($isupload =true)
			
<script type="text/html" id="${column.beanName}-img">
	 {{\#if (d.${column.beanName} != null && d.${column.beanName} != '') { }}
		<a onclick='view("{{d.${column.beanName}}}")'>
			{{d.${column.beanName}}}
			<i class="layui-icon layui-icon-template" lay-filter="${column.beanName}-view"></i>
    	</a>
	 {{# } else { }}
		-
	 {{# } }}
</script>
		#end
	#end
#end


<script type="text/javascript" th:inline="javascript">
#foreach ($column in $beanColumns)
#if(${column.htmlType} == 2)
	var ${column.beanName}_list = [[${@dict.getType('$column.autoDictType.dictType.dictType')}]];
	
#end
#end
	
	window.selectDictLabel=function(datas, value) {
		var actions = [];
	    $.each(datas, function(index, dict) {
	        if (dict.dictValue == ('' + value)) {
	        	var listClass = ("default"== dict.listClass) ? "" : "badge badge-" + dict.listClass;
	        	actions.push(sprintf("<span class='%s'>%s</span>", listClass, dict.dictLabel));
	            return false;
	        }
	    });
	    return actions.join('');
	}
	window.sprintf=function (str) {
	    var args = arguments, flag = true, i = 1;
	    str = str.replace(/%s/g, function () {
	        var arg = args[i++];
	        if (typeof arg === 'undefined') {
	            flag = false;
	            return '';
	        }
	        return arg;
	    });
	    return flag ? str : '';
	}
</script>	
	


<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
		#if($isupload==true)
		 let BUCKETURL_PATH='[[${bucketURL}]]';
		#end	
		
        let MODULE_PATH = rootPath+"/${tableInfo.javaTableName}Controller/";
        let cols = [
            [
               {type: 'checkbox'},
#foreach ($column in $beanColumns)
	#if(${column.htmlType} == 1)
                	
               {title: '${column.column_comment}', field: '${column.beanName}', align: 'center'},
    #elseif(${column.htmlType} == 2)
                	
        	   {title: '${column.column_comment}', field: '${column.beanName}', align: 'center',templet:function(d){
				  return selectDictLabel(${column.beanName}_list, d.${column.beanName});
			   }},
    #elseif(${column.htmlType} == 3)
                	
               {title: '${column.column_comment}', field: '${column.beanName}', align: 'center',templet: '#${column.beanName}-enable'},
    #elseif(${column.htmlType} == 5)
                	
               {title: '${column.column_comment}', field: '${column.beanName}', align: 'center',templet: '#${column.beanName}-img'},
    #else
                		
               {title: '${column.column_comment}', field: '${column.beanName}', align: 'center'},
	#end
#end
                
               {title: '操作', toolbar: '#${tableInfo.javaTableName_a}-bar', align: 'center'}
            ]
        ]

        //table表单列表
        table.render({
            elem: '#${tableInfo.javaTableName_a}-table',
            url: MODULE_PATH + 'list',
            page: true,
            method: 'get',
            cols: cols,
            skin: 'line',
            toolbar: '#${tableInfo.javaTableName_a}-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        //table图标事件绑定
        table.on('tool(${tableInfo.javaTableName_a}-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        //table工具栏绑定
        table.on('toolbar(${tableInfo.javaTableName_a}-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        //查询按钮绑定
        form.on('submit(${tableInfo.javaTableName_a}-query)', function (data) {
            table.reload('${tableInfo.javaTableName_a}-table', {where: data.field})
            return false;
        });


        //添加
        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'add'
            });
        }
        //修改
        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'edit/' + obj.data['id']
            });
        }
        //删除
        window.remove = function (obj) {
            layer.confirm('确定要删除该数据', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove?ids=" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        //批量删除
        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {icon: 3, time: 1000});
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].id + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些数据', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove?ids=" + ids,
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('${tableInfo.javaTableName_a}-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }
        
        
#if($isupload==true) 
		 //查看
        window.view = function (obj) {
            layer.open({
                type: 1,
                title: '查看',
                shade: 0.1,
                area: ['500px', '500px'],
                content: "<img style=\"width:500px\" src=\""+BUCKETURL_PATH+"/"+obj+"\">"
            });
        }
#end   
        //刷新按钮
        window.refresh = function () {
            table.reload('${tableInfo.javaTableName_a}-table');
        }
    })
</script>
</html>