<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.v2.mapper.auto.DpjyMapper">
  <resultMap id="BaseResultMap" type="com.fc.v2.model.auto.Dpjy">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="jz_ids" jdbcType="VARCHAR" property="jzIds" />
    <result column="jyrq" jdbcType="TIMESTAMP" property="jyrq" />
    <result column="jydh" jdbcType="VARCHAR" property="jydh" />
    <result column="jy_type" jdbcType="INTEGER" property="jyType" />
    <result column="jyqx" jdbcType="TIMESTAMP" property="jyqx" />
    <result column="jyr_name" jdbcType="VARCHAR" property="jyrName" />
    <result column="jyr_id" jdbcType="VARCHAR" property="jyrId" />
    <result column="zdr_id" jdbcType="VARCHAR" property="zdrId" />
    <result column="zdr_name" jdbcType="VARCHAR" property="zdrName" />
    <result column="shr_id" jdbcType="VARCHAR" property="shrId" />
    <result column="shr_name" jdbcType="VARCHAR" property="shrName" />
    <result column="sh_rq" jdbcType="TIMESTAMP" property="shRq" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="jynum" jdbcType="INTEGER" property="jynum" />
    <result column="dxdh" jdbcType="VARCHAR" property="dxdh" />
    <result column="cbbm" jdbcType="VARCHAR" property="cbbm" />
    <result column="jsdw" jdbcType="VARCHAR" property="jsdw" />
    <result column="jyrphone" jdbcType="VARCHAR" property="jyrphone" />
    <result column="jssj" jdbcType="TIMESTAMP" property="jssj" />
    <result column="lzstar_time" jdbcType="TIMESTAMP" property="lzstarTime" />
    <result column="lzend_time" jdbcType="TIMESTAMP" property="lzendTime" />
    <result column="zlqd_text" jdbcType="VARCHAR" property="zlqdText" />
    <result column="zlqd_image" jdbcType="VARCHAR" property="zlqdImage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
	  	  	      	id,
       	  	      	jz_ids,
       	  	      	jyrq,
       	  	      	jydh,
       	  	      	jy_type,
       	  	      	jyqx,
       	  	      	jyr_name,
       	  	      	jyr_id,
       	  	      	zdr_id,
       	  	      	zdr_name,
       	  	      	shr_id,
       	  	      	shr_name,
       	  	      	sh_rq,
       	  	      	remarks,
       	  	      	jynum,
       	  	      	dxdh,
       	  	      	cbbm,
       	  	      	jsdw,
       	  	      	jyrphone,
       	  	      	jssj,
       	  	      	lzstar_time,
       	  	      	lzend_time,
       	  	      	zlqd_text,
       	  	    	  	zlqd_image
       	  	
  </sql>
  
  <select id="selectByExample" parameterType="com.fc.v2.model.auto.DpjyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_dpjy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_dpjy
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_dpjy
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.v2.model.auto.DpjyExample">
    delete from t_dpjy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.v2.model.auto.Dpjy">
    insert into t_dpjy (
      	  	       id,
       	  	       jz_ids,
       	  	       jyrq,
       	  	       jydh,
       	  	       jy_type,
       	  	       jyqx,
       	  	       jyr_name,
       	  	       jyr_id,
       	  	       zdr_id,
       	  	       zdr_name,
       	  	       shr_id,
       	  	       shr_name,
       	  	       sh_rq,
       	  	       remarks,
       	  	       jynum,
       	  	       dxdh,
       	  	       cbbm,
       	  	       jsdw,
       	  	       jyrphone,
       	  	       jssj,
       	  	       lzstar_time,
       	  	       lzend_time,
       	  	       zlqd_text,
       	  	    	  zlqd_image
       	    )
    values (
	  	  	      	#{id,jdbcType=VARCHAR},
       	  	      	#{jzIds,jdbcType=VARCHAR},
       	  	      	#{jyrq,jdbcType=TIMESTAMP},
       	  	      	#{jydh,jdbcType=VARCHAR},
       	  	      	#{jyType,jdbcType=INTEGER},
       	  	      	#{jyqx,jdbcType=TIMESTAMP},
       	  	      	#{jyrName,jdbcType=VARCHAR},
       	  	      	#{jyrId,jdbcType=VARCHAR},
       	  	      	#{zdrId,jdbcType=VARCHAR},
       	  	      	#{zdrName,jdbcType=VARCHAR},
       	  	      	#{shrId,jdbcType=VARCHAR},
       	  	      	#{shrName,jdbcType=VARCHAR},
       	  	      	#{shRq,jdbcType=TIMESTAMP},
       	  	      	#{remarks,jdbcType=VARCHAR},
       	  	      	#{jynum,jdbcType=INTEGER},
       	  	      	#{dxdh,jdbcType=VARCHAR},
       	  	      	#{cbbm,jdbcType=VARCHAR},
       	  	      	#{jsdw,jdbcType=VARCHAR},
       	  	      	#{jyrphone,jdbcType=VARCHAR},
       	  	      	#{jssj,jdbcType=TIMESTAMP},
       	  	      	#{lzstarTime,jdbcType=TIMESTAMP},
       	  	      	#{lzendTime,jdbcType=TIMESTAMP},
       	  	      	#{zlqdText,jdbcType=VARCHAR},
       	  	    	  #{zlqdImage,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.v2.model.auto.Dpjy">
    insert into t_dpjy
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
         
      <if test="jzIds != null">
        jz_ids,
      </if>
         
      <if test="jyrq != null">
        jyrq,
      </if>
         
      <if test="jydh != null">
        jydh,
      </if>
         
      <if test="jyType != null">
        jy_type,
      </if>
         
      <if test="jyqx != null">
        jyqx,
      </if>
         
      <if test="jyrName != null">
        jyr_name,
      </if>
         
      <if test="jyrId != null">
        jyr_id,
      </if>
         
      <if test="zdrId != null">
        zdr_id,
      </if>
         
      <if test="zdrName != null">
        zdr_name,
      </if>
         
      <if test="shrId != null">
        shr_id,
      </if>
         
      <if test="shrName != null">
        shr_name,
      </if>
         
      <if test="shRq != null">
        sh_rq,
      </if>
         
      <if test="remarks != null">
        remarks,
      </if>
         
      <if test="jynum != null">
        jynum,
      </if>
         
      <if test="dxdh != null">
        dxdh,
      </if>
         
      <if test="cbbm != null">
        cbbm,
      </if>
         
      <if test="jsdw != null">
        jsdw,
      </if>
         
      <if test="jyrphone != null">
        jyrphone,
      </if>
         
      <if test="jssj != null">
        jssj,
      </if>
         
      <if test="lzstarTime != null">
        lzstar_time,
      </if>
         
      <if test="lzendTime != null">
        lzend_time,
      </if>
         
      <if test="zlqdText != null">
        zlqd_text,
      </if>
         
      <if test="zlqdImage != null">
        zlqd_image,
      </if>
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
          <if test="jzIds != null">
        #{jzIds,jdbcType=VARCHAR},
      </if>
          <if test="jyrq != null">
        #{jyrq,jdbcType=TIMESTAMP},
      </if>
          <if test="jydh != null">
        #{jydh,jdbcType=VARCHAR},
      </if>
          <if test="jyType != null">
        #{jyType,jdbcType=INTEGER},
      </if>
          <if test="jyqx != null">
        #{jyqx,jdbcType=TIMESTAMP},
      </if>
          <if test="jyrName != null">
        #{jyrName,jdbcType=VARCHAR},
      </if>
          <if test="jyrId != null">
        #{jyrId,jdbcType=VARCHAR},
      </if>
          <if test="zdrId != null">
        #{zdrId,jdbcType=VARCHAR},
      </if>
          <if test="zdrName != null">
        #{zdrName,jdbcType=VARCHAR},
      </if>
          <if test="shrId != null">
        #{shrId,jdbcType=VARCHAR},
      </if>
          <if test="shrName != null">
        #{shrName,jdbcType=VARCHAR},
      </if>
          <if test="shRq != null">
        #{shRq,jdbcType=TIMESTAMP},
      </if>
          <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
          <if test="jynum != null">
        #{jynum,jdbcType=INTEGER},
      </if>
          <if test="dxdh != null">
        #{dxdh,jdbcType=VARCHAR},
      </if>
          <if test="cbbm != null">
        #{cbbm,jdbcType=VARCHAR},
      </if>
          <if test="jsdw != null">
        #{jsdw,jdbcType=VARCHAR},
      </if>
          <if test="jyrphone != null">
        #{jyrphone,jdbcType=VARCHAR},
      </if>
          <if test="jssj != null">
        #{jssj,jdbcType=TIMESTAMP},
      </if>
          <if test="lzstarTime != null">
        #{lzstarTime,jdbcType=TIMESTAMP},
      </if>
          <if test="lzendTime != null">
        #{lzendTime,jdbcType=TIMESTAMP},
      </if>
          <if test="zlqdText != null">
        #{zlqdText,jdbcType=VARCHAR},
      </if>
          <if test="zlqdImage != null">
        #{zlqdImage,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.v2.model.auto.DpjyExample" resultType="java.lang.Long">
    select count(*) from t_dpjy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update t_dpjy
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
          <if test="record.jzIds != null">
        jz_ids = #{record.jzIds,jdbcType=VARCHAR},
      </if>
          <if test="record.jyrq != null">
        jyrq = #{record.jyrq,jdbcType=TIMESTAMP},
      </if>
          <if test="record.jydh != null">
        jydh = #{record.jydh,jdbcType=VARCHAR},
      </if>
          <if test="record.jyType != null">
        jy_type = #{record.jyType,jdbcType=INTEGER},
      </if>
          <if test="record.jyqx != null">
        jyqx = #{record.jyqx,jdbcType=TIMESTAMP},
      </if>
          <if test="record.jyrName != null">
        jyr_name = #{record.jyrName,jdbcType=VARCHAR},
      </if>
          <if test="record.jyrId != null">
        jyr_id = #{record.jyrId,jdbcType=VARCHAR},
      </if>
          <if test="record.zdrId != null">
        zdr_id = #{record.zdrId,jdbcType=VARCHAR},
      </if>
          <if test="record.zdrName != null">
        zdr_name = #{record.zdrName,jdbcType=VARCHAR},
      </if>
          <if test="record.shrId != null">
        shr_id = #{record.shrId,jdbcType=VARCHAR},
      </if>
          <if test="record.shrName != null">
        shr_name = #{record.shrName,jdbcType=VARCHAR},
      </if>
          <if test="record.shRq != null">
        sh_rq = #{record.shRq,jdbcType=TIMESTAMP},
      </if>
          <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
          <if test="record.jynum != null">
        jynum = #{record.jynum,jdbcType=INTEGER},
      </if>
          <if test="record.dxdh != null">
        dxdh = #{record.dxdh,jdbcType=VARCHAR},
      </if>
          <if test="record.cbbm != null">
        cbbm = #{record.cbbm,jdbcType=VARCHAR},
      </if>
          <if test="record.jsdw != null">
        jsdw = #{record.jsdw,jdbcType=VARCHAR},
      </if>
          <if test="record.jyrphone != null">
        jyrphone = #{record.jyrphone,jdbcType=VARCHAR},
      </if>
          <if test="record.jssj != null">
        jssj = #{record.jssj,jdbcType=TIMESTAMP},
      </if>
          <if test="record.lzstarTime != null">
        lzstar_time = #{record.lzstarTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.lzendTime != null">
        lzend_time = #{record.lzendTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.zlqdText != null">
        zlqd_text = #{record.zlqdText,jdbcType=VARCHAR},
      </if>
          <if test="record.zlqdImage != null">
        zlqd_image = #{record.zlqdImage,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update t_dpjy
    set
            	     	 
    	 id = #{record.id,jdbcType=VARCHAR},
    	         	     	 
    	 jz_ids = #{record.jzIds,jdbcType=VARCHAR},
    	         	     	 
    	 jyrq = #{record.jyrq,jdbcType=TIMESTAMP},
    	         	     	 
    	 jydh = #{record.jydh,jdbcType=VARCHAR},
    	         	     	 
    	 jy_type = #{record.jyType,jdbcType=INTEGER},
    	         	     	 
    	 jyqx = #{record.jyqx,jdbcType=TIMESTAMP},
    	         	     	 
    	 jyr_name = #{record.jyrName,jdbcType=VARCHAR},
    	         	     	 
    	 jyr_id = #{record.jyrId,jdbcType=VARCHAR},
    	         	     	 
    	 zdr_id = #{record.zdrId,jdbcType=VARCHAR},
    	         	     	 
    	 zdr_name = #{record.zdrName,jdbcType=VARCHAR},
    	         	     	 
    	 shr_id = #{record.shrId,jdbcType=VARCHAR},
    	         	     	 
    	 shr_name = #{record.shrName,jdbcType=VARCHAR},
    	         	     	 
    	 sh_rq = #{record.shRq,jdbcType=TIMESTAMP},
    	         	     	 
    	 remarks = #{record.remarks,jdbcType=VARCHAR},
    	         	     	 
    	 jynum = #{record.jynum,jdbcType=INTEGER},
    	         	     	 
    	 dxdh = #{record.dxdh,jdbcType=VARCHAR},
    	         	     	 
    	 cbbm = #{record.cbbm,jdbcType=VARCHAR},
    	         	     	 
    	 jsdw = #{record.jsdw,jdbcType=VARCHAR},
    	         	     	 
    	 jyrphone = #{record.jyrphone,jdbcType=VARCHAR},
    	         	     	 
    	 jssj = #{record.jssj,jdbcType=TIMESTAMP},
    	         	     	 
    	 lzstar_time = #{record.lzstarTime,jdbcType=TIMESTAMP},
    	         	     	 
    	 lzend_time = #{record.lzendTime,jdbcType=TIMESTAMP},
    	         	     	 
    	 zlqd_text = #{record.zlqdText,jdbcType=VARCHAR},
    	         	     	 
    	 zlqd_image = #{record.zlqdImage,jdbcType=VARCHAR}
    	         
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.fc.v2.model.auto.Dpjy">
    update t_dpjy
    <set>
                          
      <if test="jzIds != null">
        jz_ids = #{jzIds,jdbcType=VARCHAR},
      </if>
                      
      <if test="jyrq != null">
        jyrq = #{jyrq,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="jydh != null">
        jydh = #{jydh,jdbcType=VARCHAR},
      </if>
                      
      <if test="jyType != null">
        jy_type = #{jyType,jdbcType=INTEGER},
      </if>
                      
      <if test="jyqx != null">
        jyqx = #{jyqx,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="jyrName != null">
        jyr_name = #{jyrName,jdbcType=VARCHAR},
      </if>
                      
      <if test="jyrId != null">
        jyr_id = #{jyrId,jdbcType=VARCHAR},
      </if>
                      
      <if test="zdrId != null">
        zdr_id = #{zdrId,jdbcType=VARCHAR},
      </if>
                      
      <if test="zdrName != null">
        zdr_name = #{zdrName,jdbcType=VARCHAR},
      </if>
                      
      <if test="shrId != null">
        shr_id = #{shrId,jdbcType=VARCHAR},
      </if>
                      
      <if test="shrName != null">
        shr_name = #{shrName,jdbcType=VARCHAR},
      </if>
                      
      <if test="shRq != null">
        sh_rq = #{shRq,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
                      
      <if test="jynum != null">
        jynum = #{jynum,jdbcType=INTEGER},
      </if>
                      
      <if test="dxdh != null">
        dxdh = #{dxdh,jdbcType=VARCHAR},
      </if>
                      
      <if test="cbbm != null">
        cbbm = #{cbbm,jdbcType=VARCHAR},
      </if>
                      
      <if test="jsdw != null">
        jsdw = #{jsdw,jdbcType=VARCHAR},
      </if>
                      
      <if test="jyrphone != null">
        jyrphone = #{jyrphone,jdbcType=VARCHAR},
      </if>
                      
      <if test="jssj != null">
        jssj = #{jssj,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="lzstarTime != null">
        lzstar_time = #{lzstarTime,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="lzendTime != null">
        lzend_time = #{lzendTime,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="zlqdText != null">
        zlqd_text = #{zlqdText,jdbcType=VARCHAR},
      </if>
                      
      <if test="zlqdImage != null">
        zlqd_image = #{zlqdImage,jdbcType=VARCHAR},
      </if>
              </set>
    
    where 
            
    id = #{id,jdbcType=VARCHAR}
                                                                                                                                                                                                  
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.fc.v2.model.auto.Dpjy">
    update t_dpjy
    set 
    		 		 	  	  
		jz_ids = #{jzIds,jdbcType=VARCHAR},
	  	 		 	  	  
		jyrq = #{jyrq,jdbcType=TIMESTAMP},
	  	 		 	  	  
		jydh = #{jydh,jdbcType=VARCHAR},
	  	 		 	  	  
		jy_type = #{jyType,jdbcType=INTEGER},
	  	 		 	  	  
		jyqx = #{jyqx,jdbcType=TIMESTAMP},
	  	 		 	  	  
		jyr_name = #{jyrName,jdbcType=VARCHAR},
	  	 		 	  	  
		jyr_id = #{jyrId,jdbcType=VARCHAR},
	  	 		 	  	  
		zdr_id = #{zdrId,jdbcType=VARCHAR},
	  	 		 	  	  
		zdr_name = #{zdrName,jdbcType=VARCHAR},
	  	 		 	  	  
		shr_id = #{shrId,jdbcType=VARCHAR},
	  	 		 	  	  
		shr_name = #{shrName,jdbcType=VARCHAR},
	  	 		 	  	  
		sh_rq = #{shRq,jdbcType=TIMESTAMP},
	  	 		 	  	  
		remarks = #{remarks,jdbcType=VARCHAR},
	  	 		 	  	  
		jynum = #{jynum,jdbcType=INTEGER},
	  	 		 	  	  
		dxdh = #{dxdh,jdbcType=VARCHAR},
	  	 		 	  	  
		cbbm = #{cbbm,jdbcType=VARCHAR},
	  	 		 	  	  
		jsdw = #{jsdw,jdbcType=VARCHAR},
	  	 		 	  	  
		jyrphone = #{jyrphone,jdbcType=VARCHAR},
	  	 		 	  	  
		jssj = #{jssj,jdbcType=TIMESTAMP},
	  	 		 	  	  
		lzstar_time = #{lzstarTime,jdbcType=TIMESTAMP},
	  	 		 	  	  
		lzend_time = #{lzendTime,jdbcType=TIMESTAMP},
	  	 		 	  	  
		zlqd_text = #{zlqdText,jdbcType=VARCHAR},
	  	 		 	  		
		zlqd_image = #{zlqdImage,jdbcType=VARCHAR}
	  	 		
    where 
            
    id = #{id,jdbcType=VARCHAR}
                                                                                                                                                                                                    
  </update>
  
                                                                                                                            
</mapper>