<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.auto.TSysDictDataMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.TSysDictData" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="dict_id" property="dictId" jdbcType="BIGINT" />
    <result column="dict_code" property="dictCode" jdbcType="VARCHAR" />
    <result column="dict_sort" property="dictSort" jdbcType="INTEGER" />
    <result column="dict_label" property="dictLabel" jdbcType="VARCHAR" />
    <result column="dict_value" property="dictValue" jdbcType="VARCHAR" />
    <result column="dict_type" property="dictType" jdbcType="VARCHAR" />
    <result column="css_class" property="cssClass" jdbcType="VARCHAR" />
    <result column="list_class" property="listClass" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="CHAR" />
    <result column="status" property="dataStatus" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
<sql id="Base_Column_List" >
	id,dict_id,dict_code,dict_sort,dict_label,dict_value,dict_type,css_class,list_class,is_default,status,create_by,create_time,update_by,update_time,remark
</sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fc.test.model.auto.TSysDictDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_dict_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <delete id="deleteByExample" parameterType="com.fc.test.model.auto.TSysDictDataExample" >
    delete from t_sys_dict_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.test.model.auto.TSysDictData" >
    insert into t_sys_dict_data (
      	  	       id,
       	  	       dict_id,
       	  	       dict_code,
       	  	       dict_sort,
       	  	       dict_label,
       	  	       dict_value,
       	  	       dict_type,
       	  	       css_class,
       	  	       list_class,
       	  	       is_default,
       	  	       status,
       	  	       create_by,
       	  	       create_time,
       	  	       update_by,
       	  	       update_time,
       	  	    	  remark
       	    )
    values (
	  	  	      	#{id,jdbcType=VARCHAR},
       	  	      	#{dictId,jdbcType=BIGINT},
       	  	      	#{dictCode,jdbcType=VARCHAR},
       	  	      	#{dictSort,jdbcType=INTEGER},
       	  	      	#{dictLabel,jdbcType=VARCHAR},
       	  	      	#{dictValue,jdbcType=VARCHAR},
       	  	      	#{dictType,jdbcType=VARCHAR},
       	  	      	#{cssClass,jdbcType=VARCHAR},
       	  	      	#{listClass,jdbcType=VARCHAR},
       	  	      	#{isDefault,jdbcType=CHAR},
       	  	      	#{dataStatus,jdbcType=CHAR},
       	  	      	#{createBy,jdbcType=VARCHAR},
       	  	      	#{createTime,jdbcType=TIMESTAMP},
       	  	      	#{updateBy,jdbcType=VARCHAR},
       	  	      	#{updateTime,jdbcType=TIMESTAMP},
       	  	    	  #{remark,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.test.model.auto.TSysDictData" >
    insert into t_sys_dict_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
          
      <if test="id != null" >
        id,
      </if>
      
         
      <if test="dictId != null" >
        dict_id,
      </if>
      
         
      <if test="dictCode != null" >
        dict_code,
      </if>
      
         
      <if test="dictSort != null" >
        dict_sort,
      </if>
      
         
      <if test="dictLabel != null" >
        dict_label,
      </if>
      
         
      <if test="dictValue != null" >
        dict_value,
      </if>
      
         
      <if test="dictType != null" >
        dict_type,
      </if>
      
         
      <if test="cssClass != null" >
        css_class,
      </if>
      
         
      <if test="listClass != null" >
        list_class,
      </if>
      
         
      <if test="isDefault != null" >
        is_default,
      </if>
      
         
      <if test="dataStatus != null" >
        status,
      </if>
      
         
      <if test="createBy != null" >
        create_by,
      </if>
      
         
      <if test="createTime != null" >
        create_time,
      </if>
      
         
      <if test="updateBy != null" >
        update_by,
      </if>
      
         
      <if test="updateTime != null" >
        update_time,
      </if>
      
         
      <if test="remark != null" >
        remark,
      </if>
      
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
          <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
          <if test="dictId != null" >
        #{dictId,jdbcType=BIGINT},
      </if>
          <if test="dictCode != null" >
        #{dictCode,jdbcType=VARCHAR},
      </if>
          <if test="dictSort != null" >
        #{dictSort,jdbcType=INTEGER},
      </if>
          <if test="dictLabel != null" >
        #{dictLabel,jdbcType=VARCHAR},
      </if>
          <if test="dictValue != null" >
        #{dictValue,jdbcType=VARCHAR},
      </if>
          <if test="dictType != null" >
        #{dictType,jdbcType=VARCHAR},
      </if>
          <if test="cssClass != null" >
        #{cssClass,jdbcType=VARCHAR},
      </if>
          <if test="listClass != null" >
        #{listClass,jdbcType=VARCHAR},
      </if>
          <if test="isDefault != null" >
        #{isDefault,jdbcType=CHAR},
      </if>
          <if test="dataStatus != null" >
        #{dataStatus,jdbcType=CHAR},
      </if>
          <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
          <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
          <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
          <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.test.model.auto.TSysDictDataExample" resultType="String" >
    select count(*) from t_sys_dict_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <select id="selectByPrimaryKey" resultType="com.fc.test.model.auto.TSysDictData" parameterType="String">
      select
      <include refid="Base_Column_List" />
      from t_sys_dict_data
      where id = #{id,jdbcType=VARCHAR}
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
    update t_sys_dict_data
    <set >
          <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
          <if test="record.dictId != null" >
        dict_id = #{record.dictId,jdbcType=BIGINT},
      </if>
          <if test="record.dictCode != null" >
        dict_code = #{record.dictCode,jdbcType=VARCHAR},
      </if>
          <if test="record.dictSort != null" >
        dict_sort = #{record.dictSort,jdbcType=INTEGER},
      </if>
          <if test="record.dictLabel != null" >
        dict_label = #{record.dictLabel,jdbcType=VARCHAR},
      </if>
          <if test="record.dictValue != null" >
        dict_value = #{record.dictValue,jdbcType=VARCHAR},
      </if>
          <if test="record.dictType != null" >
        dict_type = #{record.dictType,jdbcType=VARCHAR},
      </if>
          <if test="record.cssClass != null" >
        css_class = #{record.cssClass,jdbcType=VARCHAR},
      </if>
          <if test="record.listClass != null" >
        list_class = #{record.listClass,jdbcType=VARCHAR},
      </if>
          <if test="record.isDefault != null" >
        is_default = #{record.isDefault,jdbcType=CHAR},
      </if>
          <if test="record.dataStatus != null" >
        status = #{record.dataStatus,jdbcType=CHAR},
      </if>
          <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
          <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
          <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map" >
    update t_sys_dict_data
    set
            	     	 id = #{record.id,jdbcType=VARCHAR},
    	       
        	     	 dict_id = #{record.dictId,jdbcType=BIGINT},
    	       
        	     	 dict_code = #{record.dictCode,jdbcType=VARCHAR},
    	       
        	     	 dict_sort = #{record.dictSort,jdbcType=INTEGER},
    	       
        	     	 dict_label = #{record.dictLabel,jdbcType=VARCHAR},
    	       
        	     	 dict_value = #{record.dictValue,jdbcType=VARCHAR},
    	       
        	     	 dict_type = #{record.dictType,jdbcType=VARCHAR},
    	       
        	     	 css_class = #{record.cssClass,jdbcType=VARCHAR},
    	       
        	     	 list_class = #{record.listClass,jdbcType=VARCHAR},
    	       
        	     	 is_default = #{record.isDefault,jdbcType=CHAR},
    	       
        	     	 status = #{record.dataStatus,jdbcType=CHAR},
    	       
        	     	 create_by = #{record.createBy,jdbcType=VARCHAR},
    	       
        	     	 create_time = #{record.createTime,jdbcType=TIMESTAMP},
    	       
        	     	 update_by = #{record.updateBy,jdbcType=VARCHAR},
    	       
        	     	 update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    	       
        	     	 remark = #{record.remark,jdbcType=VARCHAR},
    	       
        <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.test.model.auto.TSysDictData">
    update t_sys_dict_data
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="dictId != null" >
        dict_id = #{dictId,jdbcType=BIGINT},
      </if>
      <if test="dictCode != null" >
        dict_code = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictSort != null" >
        dict_sort = #{dictSort,jdbcType=INTEGER},
      </if>
      <if test="dictLabel != null" >
        dict_label = #{dictLabel,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null" >
        dict_type = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="cssClass != null" >
        css_class = #{cssClass,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=CHAR},
      </if>
      <if test="listClass != null" >
        list_class = #{listClass,jdbcType=VARCHAR},
      </if>
      <if test="dataStatus != null" >
        status = #{dataStatus,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>