<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SpringBoot_v2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="SpringBoot_v2,脚手架">
	<meta name="author" content="QQ87766867">
	<!--样式 -->
	<script type="text/javascript" th:src="@{/static/admin/assets/js/jquery.min.js}"></script>
	<!--  <link rel="stylesheet" href="@{/static/admin/assets/css/style.css}"> -->
	<link rel="stylesheet" th:href="@{/static/admin/assets/css/loader-style.css}">
	<link rel="stylesheet" th:href="@{/static/admin/assets/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/static/admin/assets/css/signin.css}">
	<!--icons -->
    <link rel="icon" th:href="@{/static/admin/images/favicon.ico}" type="image/x-icon">
</head>
<body>

<div style="position: fixed;z-index: 9999; right: 0;">
	<a target="_blank" href='https://gitee.com/bdj/SpringBoot_v2'><img src='https://gitee.com/bdj/SpringBoot_v2/widgets/widget_1.svg?color=f20049' alt='Fork me on Gitee'></img></a>
</div>
<!-- Preloader -->
<div id="preloader">
	<div id="divstatus">
		&nbsp;
	</div>
</div>
<div class="container">
	<div class="" id="login-wrapper">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div id="logo-login">
					<h1>SpringBoot
					<span>v2</span>
					</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="account-box">
					<form role="form" th:action="@{/admin/login}"  method="post" id="loginForm">
						<div class="form-group">
							<a href="#" class="pull-right label-forgot">忘记账号?</a>
							<label for="inputUsernameEmail">账号</label>
							<input type="text" placeholder="请输入账号"  name="username" id="loginname"  class="form-control">
						</div>
						<div class="form-group">
							<a href="#" class="pull-right label-forgot">忘记密码?</a>
							<label for="inputPassword">密码</label>
							<input type="password" placeholder="请输入密码" name="password" id="password"  class="form-control">
						</div>
						<div class="form-group">
							<label for="inputPassword">验证码</label>
							<div class="row">
								<div class="col-lg-6">
									<input class="form-control" name="code" id="code"  placeholder="请输入验证码">
								</div>
								 <div class="col-lg-6">
								 	 <img height="33px"  id="codeImg" alt="点击更换" title="点击更换" th:src="@{/captcha/captchaImage?type=char}" />
								 </div>
								
							</div>
                           
						</div>
						<div class="checkbox pull-left">
							<label>
							<input type="checkbox">记住账号</label>
						</div>
						<button class="btn btn btn-primary pull-right" type="submit">登录</button>
					</form>
					<a class="forgotLnk" href="index-2.html"></a>
					<div class="or-box">
						<center><span class="text-center login-with">登录 or <b>注册</b></span></center>
						<div class="row">
							<div class="col-md-6 row-block">
								<a target="_blank" href="https://gitee.com/bdj/SpringBoot_v2" class="btn btn-facebook btn-block">
								<span class="entypo-cloud space-icon"></span>Gitee</a>
							</div>
							<div class="col-md-6 row-block">
								<a target="_blank" href="https://github.com/fuce1314/Springboot_v2" class="btn btn-twitter btn-block">
								<span class="entypo-github space-icon"></span>Github</a>
							</div>
							
						</div>
						<div style="margin-top:25px" class="row">
							<div class="col-md-6 row-block">
								<a target="_blank" href="https://gitee.com/bdj/SpringBoot_v2/wikis" class="btn btn-google btn-block">
								<span class="entypo-book-open space-icon"></span>Wiki</a>
							</div>
							<div class="col-md-6 row-block">
								<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=a8770621a7c51a904d667db47312b320d30e5c5581bb46103c2d5a8486cb8dce" class="btn btn-instagram btn-block">
								<span class="entypo-qq space-icon"></span>QQ群</a>
							</div>
						</div>
					</div>
					<hr>
					<div class="row-block">
						<div class="row">
							<div class="col-md-12 row-block">
								<a href="index-2.html" class="btn btn-primary btn-block">新建账号</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="text-align:center;margin:0 auto;">
		<h6 style="color:#fff;">用心开发的脚手架</h6>
	</div>
</div>
<div id="test1" class="gmap3">
</div>
<!--  END OF PAPER WRAP --><!-- MAIN EFFECT -->
<script type="text/javascript" th:src="@{/static/admin/assets/js/preloader.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/assets/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/assets/js/app.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/assets/js/load.js}"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WSrX4bCfgcjTfhWNCwvfI1ZnQnfZDxFW"></script>
<script type="text/javascript">
    $(function() {
    	//session获取iframe处理
    	 if (window != top) {
             top.location.href = location.href;
         }
    	
    	//刷新验证码
    	$('#codeImg').click(function() {
			var url ="/captcha/captchaImage?type=char&s=" + Math.random();
			$("#codeImg").attr("src", url);
		});
    	
    	// 百度地图API功能
    	var map = new BMap.Map("test1");
    	var point = new BMap.Point(106.475851,29.542392);
    	map.centerAndZoom(point, 10);
    	var marker = new BMap.Marker(point);  // 创建标注
    	map.addOverlay(marker);               // 将标注添加到地图中
    	marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    	map.setCurrentCity("重庆");          // 设置地图显示的城市 此项是必须设置的
    	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    	
    });
    
  
  
    </script>
</body>
</html>