<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.custom.TsysUserDao">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.TsysUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  
  
<select id="queryUserName" parameterType="String" resultType="com.fc.test.model.auto.TsysUser">
       select * from t_sys_user where username=#{username}
 </select>
</mapper>