<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('定时任务列表')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="searchText" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="sysQuartzJob-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="sysQuartzJob-table" lay-filter="sysQuartzJob-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="role-toolbar">
    <button shiro:hasPermission="gen:sysQuartzJob:add" class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button shiro:hasPermission="gen:sysQuartzJob:remove" class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="sysQuartzJob-bar">

    <button shiro:hasPermission="gen:sysQuartzJob:edit" class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit" title="修改"><i class="layui-icon layui-icon-edit"></i>
    </button>

    <button shiro:hasPermission="gen:sysQuartzJob:remove" class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove" title="删除"><i class="layui-icon layui-icon-delete"></i>
    </button>


    <button shiro:hasPermission="gen:sysQuartzJob:add" class="pear-btn pear-btn-warming pear-btn-md" lay-event="run" title="执行一次"><i class="layui-icon layui-icon-triangle-r"></i>
    </button>


</script>

<script type="text/html" id="sysQuartzJob-enable">
    <input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="sysQuartzJob-enable" {{ d.status== 0 ? 'checked' : '' }}>
</script>


<script type="text/html" id="sysQuartzJob-misfirePolicy">
    {{#if (d.misfirePolicy == 1) { }}
    <span class="layui-badge layui-bg-blue">立即执行</span>
    {{# }else if(d.misfirePolicy == 2){ }}
    <span class="layui-badge layui-bg-orange">执行一次</span>
    {{# }else if(d.misfirePolicy == 3){ }}
    <span class="layui-badge layui-bg-green">放弃执行</span>
    {{# } }}
</script>

<script type="text/html" id="sysQuartzJob-concurrent">
    {{#if (d.concurrent == 0) { }}
    <span class="layui-badge layui-bg-blue">允许</span>
    {{# }else if(d.concurrent == 1){ }}
    <span class="layui-badge">禁止</span>
    {{# } }}
</script>


<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;

        let MODULE_PATH = rootPath+"/SysQuartzJobController";
        let cols = [
            [
                {type: 'checkbox'},
                {title: 'ID', field: 'id', align: 'center'},
                {title: '任务名称', field: 'jobName', align: 'left'},
                {title: '任务组名', field: 'jobGroup', align: 'left'},
                {title: '调用目标字符串', field: 'invokeTarget', align: 'left'},
                {title: 'cron执行表达式', field: 'cronExpression', align: 'left'},
                {title: 'cron计划策略', field: 'misfirePolicy', align: 'left',toolbar: '#sysQuartzJob-misfirePolicy'},
                {title: '是否并发执行', field: 'concurrent', align: 'left',toolbar: '#sysQuartzJob-concurrent'},
                {title: '任务状态', field: 'status', align: 'center',toolbar: '#sysQuartzJob-enable'},
                {title: '操作', toolbar: '#sysQuartzJob-bar', align: 'center'}
            ]
        ]

        //table表单列表
        table.render({
            elem: '#sysQuartzJob-table',
            url: MODULE_PATH + '/list',
            page: true,
            method: 'get',
            cols: cols,
            skin: 'line',
            toolbar: '#role-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        //table图标事件绑定
        table.on('tool(sysQuartzJob-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }else if (obj.event === 'run') {
                window.run(obj);
            }
        });

        //table工具栏绑定
        table.on('toolbar(sysQuartzJob-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        //查询按钮绑定
        form.on('submit(sysQuartzJob-query)', function (data) {
            table.reload('sysQuartzJob-table', {where: data.field})
            return false;
        });


        //添加
        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['800px', '500px'],
                content: MODULE_PATH + '/add'
            });
        }
        //修改
        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['800px', '500px'],
                content: MODULE_PATH + '/edit/' + obj.data['id']
            });
        }

        //状态切换绑定
        form.on('switch(sysQuartzJob-enable)', function (obj) {
            let operate;

            if (obj.elem.checked) {
                operate = 0;
            } else {
                operate = 1;
            }

            let loading = layer.load()

            $.ajax({
                url: MODULE_PATH+'/changeStatus',
                data: JSON.stringify({id: this.value,status:operate}),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    layer.close(loading);
                    if (result.code==200) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
        });

        //执行一次
        window.run = function (obj) {
            layer.confirm('确定要执行一次吗', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/run/" + obj.data['id'],
                    dataType: 'json',
                    type: 'get',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        //删除
        window.remove = function (obj) {
            layer.confirm('确定要删除该定时任务', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/remove?ids=" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        //批量删除
        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {icon: 3, time: 1000});
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].id + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些定时任务', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "/remove?ids=" + ids,
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('sysQuartzJob-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }
        //刷新按钮
        window.refresh = function () {
            table.reload('sysQuartzJob-table');
        }
    })
</script>
</html>