.entypo li, .entypo-tooltip li {
    float: left;
    height: 10%;
    padding: 0.5em;
    position: relative;
    text-align: center;
      -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
    width: 10%;
    list-style: none;
    font-size: 20px;
    color: #363E49;
}
.entypo li:hover, .entypo-tooltip li:hover{
    color:#000;
    cursor: pointer;

}

