<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
    <head th:include="admin/common/html/head :: head">
    </head>
    
    <body>
        <!--预加载器-->
        <div class="preloader-it">
            <div class="la-anim-1">
            </div>
        </div>
        <!--/预加载器-->
        <div class="wrapper theme-1-active pimary-color-blue">
            <!-- 顶部菜单项 -->
            <nav th:include="admin/common/html/topMenu :: topMenu" class="navbar navbar-inverse navbar-fixed-top">
            </nav>
            <!-- /顶部菜单项 -->
            <!-- 左侧边栏菜单 -->
            <div th:include="admin/common/html/leftMenu :: leftMenu" class="fixed-sidebar-left">
            </div>
            <!-- /左侧边栏菜单 -->
            <!-- 主要内容 -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- 标题 -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h5 class="txt-dark">
                                blank page
                            </h5>
                        </div>
                        <!-- 导航条 -->
                        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            speciality pages
                                        </span>
                                    </a>
                                </li>
                                <li class="active">
                                    <span>
                                        blank page
                                    </span>
                                </li>
                            </ol>
                        </div>
                        <!-- /导航条 -->
                    </div>
                    <!-- /标题 -->
                    <!-- 正内容 -->
                    <div class="row">
                    	<!-- 例子 -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">
                                            default panel
                                        </h6>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
                                            est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus
                                            et, fringilla augue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /例子 -->
                    </div>
                    <!-- /正内容 -->
                    <!-- 页脚 -->
                    <footer th:include="admin/common/html/footer :: footer" class="footer container-fluid pl-30 pr-30" >
                    </footer>
                    <!-- /页脚 -->
                </div>
            </div>
            <!-- /主要内容 -->
        </div>
        <!-- /#wrapper -->
        <div th:include="admin/common/html/js :: onload_js">
        </div>
    </body>

</html>