<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Test20</title>
    <link th:href="@{bootstrap-3.3.7-dist/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{bootstrap-3.3.7-dist/css/bootstrap-theme.css}" rel="stylesheet" />
</head>
<body>
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-6 ">
     	111111111111111
     </div>
</div>
<!-- /.modal -->

<script th:src="@{jquery.min.js}" type="text/javascript"></script>
<script th:src="@{bootstrap-3.3.7-dist/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{js/main.js}" type="text/javascript"></script>
</body>
</html>